name = "gpsc-v2"
main = "src/index.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "dental_pulse"
database_id = "5d374e7d-2d0f-4c7e-87ae-aa2e2f949515"
